/********************************* Formulario *********************************/

.input-alinear {
    padding-top: 7px;
}

.input-btn-alinear .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

.search-margen {
	padding-bottom: 15px;
}

/*********************************** Imagen ***********************************/

.img-detalle-usuario {
	height: 250px;
	width: 250px;
}

/*********************************** Sidebar **********************************/

.logo-mini-tamanio {
    height: 40px;
    width: 40px;
}

/************************************ Tabla ***********************************/

.table-quitar-margen {
    margin-bottom: 0;
}

.table thead tr th,
.table tbody tr th,
.table tfoot tr th,
.table thead tr td,
.table tbody tr td,
.table tfoot tr td {
    vertical-align: middle;
}